@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This website allows you to add people to a list under "Enter people". These people are then displayed in a table under "Previous people".</p>
</div>
